.ChatBox {
    display: grid;
    grid-template-columns: auto 100px;
    column-gap: 20px;
    row-gap: 20px;

    box-shadow: 0 0 5px 2px rgba(0,0,0,0.30);
    min-width: 600px;
    padding: 20px;
    border-radius: 5px;
}

.ChatBox__messagesContainer {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;
    border: rgba(0,0,0,0.30) 1px solid ;
}